<section class="header-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <a href="mailto:admin@gmail.com" class="header-email">
          <i class="fa fa-envelope"></i> admin@gmail.com
        </a>
        <a href="" class="header-phone"> <i class="fa fa-phone"></i> 123456 </a>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
        <ul class="header-items">
          <li>
            <a routerLink="/pages-login"><i class="fa fa-sign-in"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="https://library.greensoftbd.net/">
          <img
            class="header-logo"
            src="https://library.greensoftbd.net/uploads/default/logo.jpg"
            alt=""
          />
        </a>
      </div>
      <div class="col-sm-6">
        <div class="header-search">
          <form
            action="https://library.greensoftbd.net/frontend/shop"
            method="GET"
          >
            <div class="input-group input-group-search-form">
              <input
                type="text"
                placeholder="Search...."
                class="form-control form-control-lg input-group-search"
                name="search"
                value=""
              />
              <div class="input-group-append search-btn">
                <input type="submit" class="input-group-text" value="Search" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="carts float-right">
          <button
            class="btn btn-success btn btn-lg cart-item-badge center-content"
            type="button"
            data-toggle="dropdown"
          >
            <i class="fa fa-shopping-bag"></i>
            <b class="badge-gap">0.00</b>
            <span class="badge bg-danger cart-item-badge-count">0</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="mini-cart">
              <h6 class="p-3">Currently you cart item are empty.</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mainmenu">
  <div class="container">
    <ul>
      <li>
        <a class="" href="https://library.greensoftbd.net/frontend/index"
          ><i class="fa fa-home"></i>Home</a
        >
      </li>
      <li>
        <a class="" href="https://library.greensoftbd.net/frontend/ebook"
          >Ebook</a
        >
      </li>
      <li>
        <a class="" href="https://library.greensoftbd.net/frontend/book"
          >Book</a
        >
      </li>
      <li>
        <a class="" href="https://library.greensoftbd.net/frontend/shop"
          >Shop</a
        >
      </li>
      <li>
        <a class="" href="https://library.greensoftbd.net/frontend/contact"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</section>
