<main>
  <section class="content-header">
    <h1>Store Book Category</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Store Book Category</li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-mytheme">
      <div class="box-header">
        <a routerLink="/storebookcategory/add" class="btn btn-inline btn-mytheme btn-md"><i
            class="fa fa-plus"></i> Add Store Book Category</a>
      </div>
      <div class="box-body">
        <div id="hide-table">
          <table #dataTable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>


              <tr *ngFor="let element of list let i = index">
                                <td>{{ i+1 }}</td>

                                <td>

                                    <img [src]="element.photo" class="profile_img" alt="">

                                </td>

                                <td>{{ element.name }}</td>
                               
                                <td>{{ element.description }}</td>
                                <td>
                                    <span [ngClass]="element.status === 'Enable' ? 'btn btn-success btn-xs' : 'btn btn-danger btn-xs' "  >

                                        {{ element.status }}
                                    </span>
                                    
                                
                                
                                
                                </td>
                                

                                <td>

                                    <!-- <button class='btn btn-success btn-xs' type="button" (click)="detailesClick()">                  view
                                  <i class='fa fa-check-square-o'></i>
                                </button> -->

                                    <button class='btn btn-warning btn-xs custom-btn' title="Edit" type="button"
                                        (click)="editClick(element)">
                                        <!--   edit -->
                                        <i class='fa fa-edit'></i>
                                    </button>

                                    <button class="btn btn-danger btn-xs custom-btn" title="Delete" type="button"
                                        (click)="deleteClick(element)">
                                        <!--   delete -->
                                        <i class='fa fa-trash-o'></i>
                                    </button>

                                    <!-- <button  class="btn btn-mytheme btn-xs mrg custom-btn" title="Edit" type="button" (click)="addClick(element)">                 edit
                                  <i class="fa fa-external-link"></i>
                                </button>

                                <button  class="btn btn-info btn-xs mrg" title="Delete" type="button" (click)="rejectClick(element)">                 delete
                                  <i class="fa fa-ban"></i>
                                </button> -->

                                </td>
                            </tr>


            </tbody>


            <tfoot>
              <tr>
                <th>#</th>
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>

                <th>Action</th>
              </tr>
            </tfoot>


          </table>
        </div>


        <div class="loading" *ngIf="!loading">
          <div>
              <h5>Please wait...</h5>
              <div class="loader"></div>
          </div>
      </div>







      </div>
    </div>
  </section>
</main>
