<!-- <app-header
*ngIf="loadingHeaderComponent()">
</app-header>

<app-mainmenu
*ngIf="loadingMainmenuComponent()">
</app-mainmenu>

<app-admin-dashboard
*ngIf="loadingDashboardComponent()">
</app-admin-dashboard>


<app-confirm-dialog></app-confirm-dialog>

<ng-component
*ngIf="loadingMainComponent()">
<router-outlet></router-outlet>
</ng-component>


<app-footer
*ngIf="loadingFooterComponent()">
</app-footer> -->



<app-admin-dashboard></app-admin-dashboard>
<!-- <router-outlet></router-outlet> -->
<app-confirm-dialog></app-confirm-dialog>
