<main>
  <section class="main-login">
    <div class="container">
      <div class="row center-content">
        <div class="col-sm-6 offset-md-3">
          <div class="my-login">
            <h2 class="text-center">Login</h2>
            <hr>
            <form class="row g-3 was-validated " [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-group">
                <label for="username_or_email">Username Or Email</label> <span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="Enter email" id="username_or_email" value=""
                  formControlName="username_or_email" required>
                <div *ngIf="usernameOrEmail!.invalid && (usernameOrEmail!.dirty || usernameOrEmail!.touched)"
                  class="invalid-feedback">
                  <div *ngIf="usernameOrEmail!.hasError('required')">Username or Email is required.</div>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label> <span class="text-danger">*</span>
                <input type="password" class="form-control" placeholder="Enter password" id="password" value=""
                  formControlName="password" required>
                <div *ngIf="password!.invalid && (password!.dirty || password!.touched)" class="invalid-feedback">
                  <div *ngIf="password!.hasError('required')">Password is required.</div>
                </div>
              </div>
              <button type="submit" class="btn btn-success btn-block">Login</button>
            </form>
          </div>
        </div>
      </div>

      <div class="row center-content">
        <div class="col-sm-6 offset-md-4">
          <div class="well text-center">
            <strong>Login Panel</strong><br />
            <button class="btn btn-primary" id="admin" (click)="adminClick()">Admin</button>
            <button class="btn btn-danger" id="librarian">Librarian</button>
            <button class="btn btn-warning" id="member">Member</button>
            <button class="btn btn-success" id="guest">Guest</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
