<div class="main-book-category-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="theme_heading_green mb-0">Store Books Category</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=6">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Mystery" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=6" class="book-category-title">Mystery</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=5">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Thriller" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=5" class="book-category-title">Thriller</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=4">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Horror" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=4" class="book-category-title">Horror</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=3">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Science Fiction" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=3" class="book-category-title">Science
              Fiction</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=2">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Adventure" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=2" class="book-category-title">Adventure</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <a href="https://library.greensoftbd.net/frontend/shop?category=1">
              <img class="book-category-thumbnail-image"
                src="https://library.greensoftbd.net/uploads/default/storebookcategory.jpg" alt="Fantasy" />
            </a>
          </div>
          <div class="book-category-content">
            <a href="https://library.greensoftbd.net/frontend/shop?category=1" class="book-category-title">Fantasy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="hr-border">

<div class="main-book-category-list">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="theme_heading_green mb-0">Books Category</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Hindi Sahitya" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Hindi Sahitya</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Stories and Poems" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Stories and Poems</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="History" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">History</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Magazines" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Magazines</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Muni Sadhvi ji" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Muni Sadhvi ji</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Health" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Health</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Yoga" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Yoga</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Acharya Tulsi" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Acharya Tulsi</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Acharya Mahapragya" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Acharya Mahapragya</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/bookcategory/00892ae47339619b89499ceed109bc01403662d5751f2b17282c927fc2cd5d3fa554b9921f123fd7dff5196201b4a8d062bfacac7cef0c80631987ba5534d7f8.JPG"
              alt="MANAGEMENT" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">MANAGEMENT</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Category 1" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Category 1</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Science" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Science</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="General Knowledge" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">General Knowledge</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Business Book" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Business Book</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Kids" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Kids</a>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="single-book-category">
          <div class="book-category-image">
            <img class="book-category-thumbnail-image"
              src="https://library.greensoftbd.net/uploads/default/bookcategory.jpg" alt="Music And Movie" />
          </div>
          <div class="book-category-content">
            <a class="book-category-title">Music And Movie</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
