<main>
  <section class="content-header">
    <h1>Store Book</h1>
    <ol class="breadcrumb">
      <li><a href="https://library.greensoftbd.net/dashboard/index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Store Book</li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-mytheme">
      <div class="box-header">
        <a routerLink="/storebook/add" class="btn btn-inline btn-mytheme btn-md"><i
            class="fa fa-plus"></i> Add Store Book</a>
      </div>
      <div class="box-body">
        <div id="hide-table">
          <table #dataTable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Code No</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of list let i = index">
                <td>{{ i+1 }}</td>
                <td>

                    <img [src]="element.photo" class="profile_img" alt="">

                </td>
                <td>{{ element.name }}</td>

                <td>{{ element.author }}</td>
                <td>{{ element.quantity }}</td>
                <td>
                    {{ element.code_no }}
                </td>

                <td>

                    <!-- <button class='btn btn-success btn-xs' type="button" (click)="detailesClick()">                 view
                      <i class='fa fa-check-square-o'></i>
                    </button> -->

                    <button class='btn btn-warning btn-xs custom-btn' title="Edit" type="button"
                        (click)="editClick(element)"> <!--   edit -->
                        <i class='fa fa-edit'></i>
                    </button>

                    <button class="btn btn-danger btn-xs custom-btn" title="Delete" type="button"
                        (click)="deleteClick(element)"> <!--   delete -->
                        <i class='fa fa-trash-o'></i>
                    </button>

                </td>
            </tr>
            </tbody>


            <tfoot>
              <tr>
                <th>#</th>
                <th>Cover Photo</th>
                <th>Name</th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Code No</th>

                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>



        <div class="loading" *ngIf="!loading">
          <div>
              <h5>Please wait...</h5>
              <div class="loader"></div>
          </div>
      </div>






      </div>
    </div>
  </section>
</main>
