<main>
  <section class="content-header">
		<h1>Order</h1>
		<ol class="breadcrumb">
            <li><a href="https://library.greensoftbd.net/dashboard/index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
			<li class="active">Order</li>
		</ol>
    </section>
    <section class="content">
        <div class="box box-mytheme">
            <div class="box-body">
                <div id="hide-table">
                    <table #dataTable class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Payment Status</th>
                                <th>Status</th>
                                <th>Total</th>

                                    <th>Action</th>
                                                            </tr>
                        </thead>
                        <tbody>
                                                            <tr>
                                    <td data-title="#">00000009</td>
                                    <td data-title="Name">khalid</td>
                                    <td data-title="Date">09 Jan 2024</td>
                                    <td data-title="Payment Status">Unpaid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/9" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/9" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a> <a href="https://library.greensoftbd.net/order/payment/9" class='btn btn-primary btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='Payment'><i class='fa fa-credit-card-alt'></i></a>                                        </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000008</td>
                                    <td data-title="Name">DESKTOP COMPUTER</td>
                                    <td data-title="Date">31 Dec 2023</td>
                                    <td data-title="Payment Status">Paid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/8" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/8" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a>                                         </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000007</td>
                                    <td data-title="Name">Susanta Mahapatra</td>
                                    <td data-title="Date">20 Dec 2023</td>
                                    <td data-title="Payment Status">Unpaid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/7" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/7" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a> <a href="https://library.greensoftbd.net/order/payment/7" class='btn btn-primary btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='Payment'><i class='fa fa-credit-card-alt'></i></a>                                        </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000006</td>
                                    <td data-title="Name">Fiction</td>
                                    <td data-title="Date">28 Oct 2023</td>
                                    <td data-title="Payment Status">Unpaid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">1500.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/6" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/6" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a> <a href="https://library.greensoftbd.net/order/payment/6" class='btn btn-primary btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='Payment'><i class='fa fa-credit-card-alt'></i></a>                                        </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000005</td>
                                    <td data-title="Name">AD</td>
                                    <td data-title="Date">21 Oct 2023</td>
                                    <td data-title="Payment Status">Paid</td>
                                    <td data-title="Status">Completed</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/5" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                                                                    </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000004</td>
                                    <td data-title="Name">hello</td>
                                    <td data-title="Date">02 Aug 2023</td>
                                    <td data-title="Payment Status">Paid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/4" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/4" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a>                                         </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000003</td>
                                    <td data-title="Name">ABV MOSA</td>
                                    <td data-title="Date">04 Mar 2021</td>
                                    <td data-title="Payment Status">Paid</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">700.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/3" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/3" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a>                                         </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000002</td>
                                    <td data-title="Name">Md Rostom Ali</td>
                                    <td data-title="Date">29 Jul 2020</td>
                                    <td data-title="Payment Status">Paid</td>
                                    <td data-title="Status">Completed</td>
                                    <td data-title="Total">1200.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/2" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                                                                    </td>
                                                                    </tr>
                                                            <tr>
                                    <td data-title="#">00000001</td>
                                    <td data-title="Name">Md Rostom Ali</td>
                                    <td data-title="Date">29 Jul 2020</td>
                                    <td data-title="Payment Status">Partial</td>
                                    <td data-title="Status">Pending</td>
                                    <td data-title="Total">2100.00</td>

                                        <td data-title="Action">
                                            <a href="https://library.greensoftbd.net/order/view/1" class='btn btn-success btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='View'><i class='fa fa-check-square-o'></i></a>                                            <a href="https://library.greensoftbd.net/order/edit/1" class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip' data-original-title='Edit'><i class='fa fa-edit'></i></a> <a href="https://library.greensoftbd.net/order/payment/1" class='btn btn-primary btn-xs' data-placement='auto' data-toggle='tooltip' data-original-title='Payment'><i class='fa fa-credit-card-alt'></i></a>                                        </td>
                                                                    </tr>
                                                    </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Payment Status</th>
                                <th>Status</th>
                                <th>Total</th>

                                    <th>Action</th>
                                                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
          </div>
    </section>
</main>
