<main>
  <section class="content-header">
    <h1>Expense</h1>
    <ol class="breadcrumb">
      <li><a routerlink="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Expense</li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-mytheme">
      <div class="box-header">
        <a routerLink="/expense/add" class="btn btn-inline btn-mytheme btn-md"><i
            class="fa fa-plus"></i> Add Expense</a>
      </div>
      <div class="box-body">
        <div id="hide-table">




          <table #dataTable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <!-- <th>File</th> -->
                <th>Note</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let element of list let i = index"  >
                <td>{{ i+1 }}</td>
                <td>{{ element.name }}</td>
                <td>{{ element.date }}</td>
                <td>{{ element.amount }}</td>
                <!-- <td>

                  <button class='btn btn-success btn-xs' type="button" (click)="downloadClick(element)">
                    <i class='fa fa-download'></i>
                  </button>

                  <img
                    [src]="element.file"
                    class="profile_img" alt="">

                </td> -->

                <td >{{ element.note }}</td>

                <td>

                    <button  class='btn btn-warning btn-xs custom-btn' title="Edit" type="button" (click)="editClick(element)">              <!--   edit -->
                      <i class='fa fa-edit'></i>
                    </button>

                    <button  class="btn btn-danger btn-xs custom-btn" title="Delete" type="button" (click)="deleteClick(element)">              <!--   delete -->
                      <i class='fa fa-trash-o'></i>
                    </button>

                </td>
              </tr>

            </tbody>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <!-- <th>File</th> -->
                <th>Note</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="loading" *ngIf="!loading">
          <div>
            <h5>Please wait...</h5>
            <div class="loader"></div>
          </div>
        </div>





      </div>
    </div>
  </section>
</main>
