<div class="wrapper">
  <header class="main-header">
<!-- Logo -->
<a href="https://library.greensoftbd.net/dashboard" class="logo">
<!-- mini logo for sidebar mini 50x50 pixels -->
<span class="logo-mini"><b>Charity&#8230;</b></span>
<!-- logo for regular state and mobile devices -->
<span class="logo-lg"><b>Charity Library</b></span>
</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top">
<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
  <span class="sr-only">Toggle navigation</span>
</a>

<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
                          <li class="dropdown tasks-menu">
              <a href="https://library.greensoftbd.net/" target="_blank" title="View Frontend" aria-expanded="true">
                  <i class="fa fa-globe"></i>
              </a>
          </li>
                      <li class="dropdown tasks-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img class="languageimage" src="assets/img/english.png" alt="">
              <span class="label label-danger">14</span>
          </a>
          <ul class="dropdown-menu">
              <li class="header">Please select your language</li>
              <li>
                  <ul class="menu">
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/arabic">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/arabic.png" alt="">
                                  Arabic                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/bengali">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/bengali.png" alt="">
                                  Bangla                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/china">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/china.png" alt="">
                                  China                                         </h3>
                          </a>
                      </li>
<!--                                <li>-->
<!--                                    <a href="--><!--">-->
<!--                                        <h3>-->
<!--                                            <img class="languageimage"-->
<!--                                                 src="--><!--" alt="">-->
<!--                                            Dutch --><!--                                        </h3>-->
<!--                                    </a>-->
<!--                                </li>-->
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/english">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/english.png" alt="">
                                  English <i class='fa fa-check'></i>                                        </h3>
                          </a>
                      </li>
<!--                                <li>-->
<!--                                    <a href="--><!--">-->
<!--                                        <h3>-->
<!--                                            <img class="languageimage"-->
<!--                                                 src="--><!--" alt="">-->
<!--                                            French --><!--                                        </h3>-->
<!--                                    </a>-->
<!--                                </li>-->
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/germany">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/germany.png" alt="">
                                  Germany                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/hindi">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/hindi.png" alt="">
                                  Hindi                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/indonesian">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/indonesian.png" alt="">
                                  Indonesian                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/italy">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/italy.png" alt="">
                                  Italy                                         </h3>
                          </a>
                      </li>
<!--                                <li>-->
<!--                                    <a href="--><!--">-->
<!--                                        <h3>-->
<!--                                            <img class="languageimage"-->
<!--                                                 src="--><!--" alt="">-->
<!--                                            Japan --><!--                                        </h3>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a href="--><!--">-->
<!--                                        <h3>-->
<!--                                            <img class="languageimage"-->
<!--                                                 src="--><!--" alt="">-->
<!--                                            Norway --><!--                                        </h3>-->
<!--                                    </a>-->
<!--                                </li>-->
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/portugal">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/portugal.png" alt="">
                                  Portugal                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/romania">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/romania.png" alt="">
                                  Romania                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/russia">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/russia.png" alt="">
                                  Russia                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/spain">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/spain.png" alt="">
                                  Spain                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/thai">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/thai.png" alt="">
                                  Thai                                         </h3>
                          </a>
                      </li>
                      <li>
                          <a href="https://library.greensoftbd.net/dashboard/langswitch/turkey">
                              <h3>
                                  <img class="languageimage"
                                       src="https://library.greensoftbd.net/uploads/language/turkey.png" alt="">
                                  Turkey                                         </h3>
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
      </li>
      <!-- user Account: style can be found in dropdown.less -->
      <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="https://library.greensoftbd.net/uploads/member/default.png" class="user-image"
                   alt="user Image">
              <span class="hidden-xs">Admin</span>
          </a>
          <ul class="dropdown-menu">
              <!-- user image -->
              <li class="user-header">
                  <img src="https://library.greensoftbd.net/uploads/member/default.png" class="img-circle"
                       alt="user Image">
                  <p>Admin - Admin                                <small> Member Since                                    - 28 July 2020</small>
                  </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                  <div class="pull-left">
                      <a href="https://library.greensoftbd.net/profile/index" class="btn btn-default btn-flat">Profile</a>
                  </div>
                  <div class="pull-right">
                      <a href="https://library.greensoftbd.net/login/logout" class="btn btn-default btn-flat">Sign out</a>
                  </div>
              </li>
          </ul>
      </li>
  </ul>
</div>
</nav>
</header>
<aside class="main-sidebar">
<section class="sidebar">
<div class="user-panel">
  <div class="pull-left image">
      <a href="https://library.greensoftbd.net/profile/index">
          <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </a>
  </div>
  <div class="pull-left info">
      <p>Admin</p>
      <a href="https://library.greensoftbd.net/profile/index"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">MAIN NAVIGATION</li>

      <li class=" active">
          <a href="https://library.greensoftbd.net/dashboard">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                                  </a>
                          </li>

      <li class=" ">
          <a href="https://library.greensoftbd.net/bookissue">
              <i class="fa lms-educational-book"></i> <span>Book Issue</span>
                                  </a>
                          </li>

      <li class=" ">
          <a href="https://library.greensoftbd.net/member">
              <i class="fa fa-user-plus"></i> <span>Member</span>
                                  </a>
                          </li>

      <li class=" ">
          <a href="https://library.greensoftbd.net/ebook">
              <i class="fa lms-study"></i> <span>Ebook</span>
                                  </a>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa lms-book"></i> <span>Books</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/book"><i class="fa fa-book"></i>Book</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/rack"><i class="fa lms-bookshelf"></i>Rack</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/bookcategory"><i class="fa lms-notebook"></i>Book Category</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/bookbarcode"><i class="fa fa-barcode"></i>Book Barcode</a></li>
                                      </ul>
                          </li>

      <li class=" ">
          <a href="https://library.greensoftbd.net/requestbook">
              <i class="fa lms-professor"></i> <span>Request Book</span>
                                  </a>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa fa-shopping-cart"></i> <span>Store Management</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/order"><i class="fa fa-first-order"></i>Order</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/storebook"><i class="fa fa-book"></i>Store Book</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/storebookcategory"><i class="fa lms-notebook"></i>Store Book Category</a></li>
                                      </ul>
                          </li>

      <li class=" ">
          <a href="https://library.greensoftbd.net/emailsend">
              <i class="fa fa-envelope"></i> <span>Email Send</span>
                                  </a>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa lms-merchant"></i> <span>Account</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/income"><i class="fa lms-incomes"></i>Income</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/expense"><i class="fa lms-salary"></i>Expense</a></li>
                                      </ul>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa fa-clipboard"></i> <span>Reports</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/bookreport"><i class="fa lms-library"></i>Book Report</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/bookissuereport"><i class="fa lms-writing"></i>Book Issue Report</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/memberreport"><i class="fa lms-community"></i>Member Report</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/idcardreport"><i class="fa lms-id-card"></i>ID Card Report</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/transactionreport"><i class="fa fa-credit-card"></i>Transaction Report</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/bookbarcodereport"><i class="fa fa-barcode"></i>Book Barcode Report</a></li>
                                      </ul>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa fa-lock"></i> <span>Administrator</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/menu"><i class="fa fa-bars"></i>Menu</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/role"><i class="fa fa-users"></i>Role</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/emailtemplate"><i class="fa lms-template-design"></i>Email Template</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/permissions"><i class="fa fa-balance-scale"></i>Permissions</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/permissionlog"><i class="fa fa-key"></i>Permissionlog</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/update"><i class="fa fa-upload"></i>Update</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/backup"><i class="fa fa-download"></i>Backup</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/bulkimport"><i class="fa fa-upload"></i>Bulk Import</a></li>
                                      </ul>
                          </li>

      <li class="treeview ">
          <a href="https://library.greensoftbd.net/#">
              <i class="fa fa-cogs"></i> <span>Settings</span>
                                          <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                                  </a>
                                  <ul class="treeview-menu" style="display: none">
                                          <li class=""><a href="https://library.greensoftbd.net/generalsetting"><i class="fa fa-cog"></i>General Setting</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/emailsetting"><i class="fa lms-open-envelope"></i>Email Setting</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/libraryconfigure"><i class="fa lms-settings"></i>Library Configure</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/themesetting"><i class="fa fa-paint-brush"></i>Theme Setting</a></li>
                                          <li class=""><a href="https://library.greensoftbd.net/paymentsetting"><i class="fa fa-credit-card-alt"></i>Payment Setting</a></li>
                                      </ul>
                          </li>
          </ul>
</section>
</aside><div class="content-wrapper">
<section class="content-header">
<h1>Dashboard</h1>
<ol class="breadcrumb">
  <li><a href="https://library.greensoftbd.net/dashboard/index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
  <li class="active">Dashboard</li>
</ol>
</section>
<section class="content">

<div class="box box-mytheme">
  <div class="row">
      <div class="col-sm-12">
          <div class="box-body" style="width: 100%">
              <canvas id="canvas" width="1330" height="442" class="chartjs-render-monitor" style="display: block; width: 665px; height: 221px;" ></canvas>
          </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
      <div class="box box-mytheme">
          <div class="box-header">
              <i class="fa fa-comments-o"></i>
              <h3 class="box-title">Chat</h3>
          </div>
          <div class="box-body chat mainchatbox" id="chat-box">
              <div class="text-center">
                  <button class="btn btn-xs btn-mytheme loadmore"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Load More</button>
              </div>
              <div class="chatboxmessage">
                <!-- chat item -->
                                            <div class="item chatID" data-chatid="1">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 28 Jul 2020 22:06</small>
                              Admin                                    </a>
                          Hello                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="2">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 28 Jul 2020 22:06</small>
                              Admin                                    </a>
                          Good Morning Everyone                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="3">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 02 Aug 2023 20:29</small>
                              Admin                                    </a>
                          hello world                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="4">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 05 Aug 2023 15:08</small>
                              Admin                                    </a>
                          jbv                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="5">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 25 Sep 2023 20:25</small>
                              Admin                                    </a>
                          bonjour                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="6">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:36</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="7">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:36</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="8">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:37</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="9">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:37</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="10">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:37</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="11">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 31 Dec 2023 10:37</small>
                              Admin                                    </a>
                          hi                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="12">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 03 Jan 2024 17:00</small>
                              Admin                                    </a>
                          ddd                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="13">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 06 Jan 2024 05:54</small>
                              Librarian                                    </a>
                          p                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="14">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 11 Jan 2024 11:54</small>
                              Admin                                    </a>
                          ff                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="15">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 17 Jan 2024 00:37</small>
                              Admin                                    </a>
                          a                                </p>
                  </div>
                                              <div class="item chatID" data-chatid="16">
                                                      <img src="https://library.greensoftbd.net/uploads/member/default.png" alt="member image" class="offline">
                      <p class="message">
                          <a href="#" class="name">
                              <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 17 Jan 2024 00:37</small>
                              Librarian                                    </a>
                          f                                </p>
                  </div>
                                              <!-- chat item -->
              </div>
          </div>
          <!-- /.chat -->
          <div class="box-footer">
              <div class="input-group">
                  <input class="form-control" type="text" id="chatmessage" name="chatmessage" placeholder="Type Message...">
                  <div class="input-group-btn">
                      <button type="button" class="btn btn-mytheme" id="chatmessagesend"><i class="fa fa-send"></i></button>
                      <button type="button" class="btn btn-danger" id="chatmessagerefresh"><i class="fa fa-refresh fa-spin"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6">
      <div class="box box-mytheme">
          <form action="https://library.greensoftbd.net/dashboard/quickmail" method="post">
              <div class="box-header">
                  <i class="fa fa-envelope"></i>
                  <h3 class="box-title">Quick Email</h3>
              </div>
              <div class="box-body">
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" name="subject" placeholder="Subject">
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                  </div>
              </div>
              <div class="box-footer clearfix">
                  <button type="submit" class="pull-right btn btn-default" id="sendEmail"> Send <i class="fa fa-arrow-circle-right"></i></button>
              </div>
          </form>
      </div>
  </div>
</div>
</section>
</div>

<script type="text/javascript">
var dashboard_provide_message = "Please provide message";
var dashboard_income          = [0,0,0,0,50000,0,70000,0,50000,25000,0,0];
var dashboard_expense         = [0,100000,0,50000,0,0,50000,0,80000,40000,0,0];
</script>    <footer class="main-footer">
<strong>This site was developed by the team GREENSOFTBD</strong>
<div class="pull-right hidden-xs">
  <b>Version</b> 2.6        </div>
</footer>
<div class="control-sidebar-bg"></div>
</div>
