

.main-header .navbar {
  position: relative;
  height: 50px;
  background-color: #dd4b39;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  border-radius: 0;
}

.main-header .logo {
  background-color: #d73925;
  color: #ffffff;

    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 15px;
    font-weight: 300;
    overflow: hidden;
}
.info
{
  padding: 5px 5px 5px 15px;
      line-height: 1;

      left: 55px;

}
.user-panel {


  height: 80px;
  padding: 10px;
  overflow: hidden;


}

b {
  font-weight: 700;
}
.main-header .logo .logo-lg {
  display: block;
}
.main-header .logo .logo-mini {
  display: none;
}
a {

  text-decoration: none;
}
.text{
  margin-left: 3px;

}

.main-header .navbar .sidebar-toggle:hover {
  background-color: #d73925;
}
.main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}


/* .sidebar-toggle {
  color: #ffffff;
  float: left;
  display: flexbox;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  padding: 15px 15px;

} */
.red-header {
  color: #fff;
  background-color: #dc3545; /* Red color for the header */
  border-color: #dc3545;
}
.sidebar-toggle {

  background-color: yellow;

margin-left: 50%;
margin-top: 2px;

}



a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;

}





