<main id="main" class="main">
  <div class="pagetitle">
    <h1>Category</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Product</a></li>
        <li class="breadcrumb-item active">Category List</li>
      </ol>
    </nav>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of categoryList; let i = index">
            <th scope="row">{{ i+1}}</th>
            <td>{{ d.categoryName }}</td>
            <td>{{ d.image }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>