<main>
  <section class="content-header">
    <h1>Book Issue</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li><a routerLink="/book-issue/book-issue">Book Issue</a></li>
      <li class="active">Add</li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-mytheme">
      <div class="row">
        <div class="col-md-6">
          <form role="form" method="post" enctype="multipart/form-data">
            <div class="box-body">
              <div class="form-group ">
                <label for="memberID">Member</label> <span class="text-red">*</span>
                <select name="memberID" id="memberID" class="form-control">
                  <option value="0">Please Select</option>
                  <option value="1">Admin</option>
                  <option value="2">Librarian</option>
                  <option value="3">Md Aflatun Kawser</option>
                  <option value="4">Member</option>
                  <option value="6">Customer</option>
                  <option value="7">Tapos Islam</option>
                  <option value="15">Tolu Idaya</option>
                  <option value="17">johansmith</option>
                </select>
              </div>
              <div class="form-group ">
                <label for="bookID">Book</label> <span class="text-red">*</span>
                <select name="bookID" id="bookID" class="form-control">
                  <option value="0">Please Select</option>
                  <option value="49">Kavithai - 5675</option>
                  <option value="46">mahapragya ki kathaye - 7777</option>
                  <option value="45">zindagi ki talash - 3333</option>
                  <option value="44">aakhiri shart - 7678</option>
                  <option value="41">yeh toh sarvajanik paisa hai - 2594</option>
                  <option value="38">hastakshar - 2990</option>
                  <option value="37">jaintatvavidhya - 8762</option>
                  <option value="36">manzil ki aur - 3805</option>
                  <option value="35">rajpath ki khoj - 2995</option>
                  <option value="34">aadivachan - 2986</option>
                  <option value="32">avchetan man se sampark - 6788</option>
                  <option value="31">ahimsa tatva darshan - 2989</option>
                  <option value="30">chitta aur man - 3946</option>
                  <option value="29">bhikshu vichar darshan - 67767</option>
                  <option value="28">agrasen agroha aggarwal - 56756</option>
                  <option value="27">tyaag - 56756</option>
                  <option value="26">six illuminates of modern india - 43534</option>
                  <option value="25">Bharat ke jain paratatva - 6276</option>
                  <option value="24">korea kranti aur pragati - 2431</option>
                  <option value="23">Apna darpan apna Bimb - c</option>
                  <option value="20">Test Book 18 - abcd118</option>
                  <option value="19">Test Book 17 - abcd117</option>
                  <option value="18">Test Book 16 - abcd116</option>
                  <option value="17">Test Book 15 - abcd115</option>
                  <option value="16">Test Book 14 - abcd114</option>
                  <option value="15">Test Book 13 - abcd113</option>
                  <option value="14">Test Book 12 - abcd112</option>
                  <option value="13">Test Book 11 - abcd111</option>
                  <option value="12">Test Book 11 - abcd111</option>
                  <option value="11">Test Book 2 - 555</option>
                  <option value="10">Test Book 1 - 555</option>
                  <option value="9">test - B001</option>
                  <option value="8">test - B1001</option>
                  <option value="5">Twilight - 44444</option>
                  <option value="4">Pride and Prejudice - 33333</option>
                  <option value="3">The Chronicles of Narnia - 33333</option>
                  <option value="2">The Giving Tree - 22222</option>
                  <option value="1">The Fault in Our Stars - 11111</option>
                </select>
              </div>
              <div class="form-group ">
                <label for="bookno">Book No</label> <span class="text-red">*</span>
                <select name="bookno" id="bookno" class="form-control">
                  <option value="0">Please Select</option>
                </select>
              </div>
              <div class="form-group ">
                <label for="issue_date">Issue Date</label> <span class="text-red">*</span>
                <input type="text" class="form-control datepicker" id="issue_date" name="issue_date" value=""
                  placeholder="Enter issue date">
              </div>
              <div class="form-group ">
                <label for="notes">Notes</label>
                <textarea name="notes" id="notes" cols="30" rows="5" class="form-control"
                  placeholder="Enter Notes"></textarea>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-mytheme">Add Book Issue</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
