<main id="main" class="main">
  <section class="content-header">
    <h1>Book Issue</h1>
    <ol class="breadcrumb">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
      <li class="active">Book Issue</li>
    </ol>
  </section>
  <section class="content">
    <div class="box box-mytheme">
      <div class="row">
        <div class="bookissuesearchbox">
          <div class="col-sm-2 col-sm-offset-3">
            <div class="box-header">
              <a routerLink="/bookissue/create" class="btn btn-inline btn-mytheme btn-md"><i
                  class="fa fa-plus"></i> Add Book Issue</a>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="box-body">
              <form>
                <div class="input-group">
                  <input type="text" class="form-control" value="" name="memberID" placeholder="Filter By Member ID">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search-plus" aria-hidden="true"></i>
                      Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-mytheme">
      <div class="box-body">
        <div id="hide-table">
          <table #dataTable class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Member ID</th>
                <th>Member</th>
                <th>Category</th>
                <th>Book</th>
                <th>Book No</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of list let i = index"  >
                <td>{{ i+1 }}</td>
                <td data-title="Member ID">7</td>
                <td data-title="Member">{{ element.member }}</td>
                <td data-title="Category">Tamil</td>
                <td data-title="Book">Kavithai</td>
                <td data-title="Book No">8</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Lost </span>
                </td>

                <td data-title="Action">

                    <button class='btn btn-success btn-xs' type="button" (click)="detailesClick()">              <!--   view -->
                      <i class='fa fa-check-square-o'></i>
                    </button>

                    <button class='btn btn-warning btn-xs' type="button" (click)="editClick(element)">              <!--   edit -->
                      <i class='fa fa-edit'></i>
                    </button>

                    <button class="btn btn-danger btn-xs" type="button" (click)="deleteClick(element)">              <!--   delete -->
                      <i class='fa fa-trash-o'></i>
                    </button>

                    <button class="btn btn-info btn-xs mrg" type="button" (click)="renewreturnClick()">              <!--   Renew Or Return -->
                      <i class="fa fa-retweet"></i>
                    </button>

                  <button class="btn btn-mytheme btn-xs mrg paymentamount" type="button" (click)="paymentClick()">    <!--   payment -->
                    <i class="fa fa-money"></i>
                  </button>

                </td>
              </tr>






              <!-- <tr>
                <td data-title="#">3</td>
                <td data-title="Member ID">3</td>
                <td data-title="Member">Md Aflatun Kawser</td>
                <td data-title="Category">Hindi Sahitya</td>
                <td data-title="Book">praqbhu hi mera rakshak hai</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Issued </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/52" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a> <a href="https://library.greensoftbd.net/bookissue/edit/52"
                    class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip'
                    data-original-title='Edit'><i class='fa fa-edit'></i></a> <a
                    href="https://library.greensoftbd.net/bookissue/delete/52"
                    onclick="return confirm('you are about to delete a record. This cannot be undone. are you sure?')"
                    class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class='fa fa-trash-o'></i></a>
                  <a href="https://library.greensoftbd.net/bookissue/renewandreturn/52" class="btn btn-info btn-xs mrg"
                    data-placement="auto" data-toggle="tooltip" data-original-title="Renew Or Return"><i
                      class="fa fa-retweet"></i></a>


                </td>
              </tr>
              <tr>
                <td data-title="#">4</td>
                <td data-title="Member ID">19</td>
                <td data-title="Member">dhirendra singh</td>
                <td data-title="Category">Hindi Sahitya</td>
                <td data-title="Book">main mahatma nhi hu</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Issued </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/51" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a> <a href="https://library.greensoftbd.net/bookissue/edit/51"
                    class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip'
                    data-original-title='Edit'><i class='fa fa-edit'></i></a> <a
                    href="https://library.greensoftbd.net/bookissue/delete/51"
                    onclick="return confirm('you are about to delete a record. This cannot be undone. are you sure?')"
                    class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class='fa fa-trash-o'></i></a>
                  <a href="https://library.greensoftbd.net/bookissue/renewandreturn/51" class="btn btn-info btn-xs mrg"
                    data-placement="auto" data-toggle="tooltip" data-original-title="Renew Or Return"><i
                      class="fa fa-retweet"></i></a>


                </td>
              </tr>

              <tr>
                <td data-title="#">6</td>
                <td data-title="Member ID">7</td>
                <td data-title="Member">Tapos Islam</td>
                <td data-title="Category">Hindi Sahitya</td>
                <td data-title="Book">mera dharm seva karna hai</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Issued </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/49" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a> <a href="https://library.greensoftbd.net/bookissue/edit/49"
                    class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip'
                    data-original-title='Edit'><i class='fa fa-edit'></i></a> <a
                    href="https://library.greensoftbd.net/bookissue/delete/49"
                    onclick="return confirm('you are about to delete a record. This cannot be undone. are you sure?')"
                    class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class='fa fa-trash-o'></i></a>
                  <a href="https://library.greensoftbd.net/bookissue/renewandreturn/49" class="btn btn-info btn-xs mrg"
                    data-placement="auto" data-toggle="tooltip" data-original-title="Renew Or Return"><i
                      class="fa fa-retweet"></i></a>


                </td>
              </tr>

              <tr>
                <td data-title="#">10</td>
                <td data-title="Member ID">20</td>
                <td data-title="Member">Harindra Yadav</td>
                <td data-title="Category">Acharya Tulsi</td>
                <td data-title="Book">rajpath ki khoj</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Return </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/45" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a>

                  <span data-toggle="tooltip" data-original-title="Payment"><button
                      class="btn btn-mytheme btn-xs mrg paymentamount" data-bookissueid="45" data-placement="auto"
                      data-toggle="modal" data-target="#paymentmodal"><i class="fa fa-money"></i></button></span>

                </td>
              </tr>
              <tr>
                <td data-title="#">11</td>
                <td data-title="Member ID">20</td>
                <td data-title="Member">Harindra Yadav</td>
                <td data-title="Category">Acharya Mahapragya</td>
                <td data-title="Book">abha mandal</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Issued </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/44" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a> <a href="https://library.greensoftbd.net/bookissue/edit/44"
                    class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip'
                    data-original-title='Edit'><i class='fa fa-edit'></i></a> <a
                    href="https://library.greensoftbd.net/bookissue/delete/44"
                    onclick="return confirm('you are about to delete a record. This cannot be undone. are you sure?')"
                    class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class='fa fa-trash-o'></i></a>
                  <a href="https://library.greensoftbd.net/bookissue/renewandreturn/44" class="btn btn-info btn-xs mrg"
                    data-placement="auto" data-toggle="tooltip" data-original-title="Renew Or Return"><i
                      class="fa fa-retweet"></i></a>


                </td>
              </tr>




              <tr>
                <td data-title="#">42</td>
                <td data-title="Member ID">4</td>
                <td data-title="Member">Member</td>
                <td data-title="Category">Music And Movie</td>
                <td data-title="Book">The Book Theif</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Return </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/13" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a>


                </td>
              </tr>

              <tr>
                <td data-title="#">52</td>
                <td data-title="Member ID">6</td>
                <td data-title="Member">Customer</td>
                <td data-title="Category">Music And Movie</td>
                <td data-title="Book">The Book Theif</td>
                <td data-title="Book No">14</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Return </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/3" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a>

                  <span data-toggle="tooltip" data-original-title="Payment"><button
                      class="btn btn-mytheme btn-xs mrg paymentamount" data-bookissueid="3" data-placement="auto"
                      data-toggle="modal" data-target="#paymentmodal"><i class="fa fa-money"></i></button></span>

                </td>
              </tr>
              <tr>
                <td data-title="#">53</td>
                <td data-title="Member ID">5</td>
                <td data-title="Member">Galib Mia</td>
                <td data-title="Category">General Knowledge</td>
                <td data-title="Book">Twilight</td>
                <td data-title="Book No">5</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Issued </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/2" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a> <a href="https://library.greensoftbd.net/bookissue/edit/2"
                    class='btn btn-warning btn-xs' data-placement='top' data-toggle='tooltip'
                    data-original-title='Edit'><i class='fa fa-edit'></i></a> <a
                    href="https://library.greensoftbd.net/bookissue/delete/2"
                    onclick="return confirm('you are about to delete a record. This cannot be undone. are you sure?')"
                    class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip"
                    data-original-title="Delete"><i class='fa fa-trash-o'></i></a>
                  <a href="https://library.greensoftbd.net/bookissue/renewandreturn/2" class="btn btn-info btn-xs mrg"
                    data-placement="auto" data-toggle="tooltip" data-original-title="Renew Or Return"><i
                      class="fa fa-retweet"></i></a>


                </td>
              </tr>
              <tr>
                <td data-title="#">54</td>
                <td data-title="Member ID">4</td>
                <td data-title="Member">Member</td>
                <td data-title="Category">Science</td>
                <td data-title="Book">The Fault in Our Stars</td>
                <td data-title="Book No">1</td>
                <td data-title="Status">
                  <span class="text-bold text-success">
                    Return </span>
                </td>

                <td data-title="Action">
                  <a href="https://library.greensoftbd.net/bookissue/view/1" class='btn btn-success btn-xs'
                    data-placement='auto' data-toggle='tooltip' data-original-title='View'><i
                      class='fa fa-check-square-o'></i></a>

                  <span data-toggle="tooltip" data-original-title="Payment"><button
                      class="btn btn-mytheme btn-xs mrg paymentamount" data-bookissueid="1" data-placement="auto"
                      data-toggle="modal" data-target="#paymentmodal"><i class="fa fa-money"></i></button></span>

                </td>
              </tr> -->
            </tbody>

            <tfoot>
              <tr>
                <th>#</th>
                <th>Member ID</th>
                <th>Member</th>
                <th>Category</th>
                <th>Book</th>
                <th>Book No</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </section>

  <div id="overlay" *ngIf="loading">
    <div class="loader"></div>
    <br />
    Please wait...
  </div>
</main>
