<main>
    <section class="content-header">
        <h1>Ebook</h1>
        <ol class="breadcrumb">
            <li><a href="https://library.greensoftbd.net/dashboard/index"><i class="fa fa-dashboard"></i>Dashboard</a>
            </li>
            <li class="active">Ebook</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-mytheme">
            <div class="box-header">
                <a routerLink="/ebook/create" class="btn btn-inline btn-mytheme btn-md"><i class="fa fa-plus"></i>Add
                    Ebook</a>
            </div>
            <div class="box-body">
                <div class="mainebook">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/ebook/0a11fb01bbfef506611bcbbf04fbbf71b2894fe30880d1025ce7e9de9205784fc8e1fb4850b0cc150786329419b0136b42ac1467e1af14ae846c48fd36c91223.JPG"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> Growth Management (downloadable)</h6>
                                            <h6><b>Author :</b> Porter Dotun F.</h6>
                                            <p>Do well to read this. it is good for all Management Students
                                                https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://fidic.org/sites/default/files/Blog/
                                                pdf/CREATING A BUSINESS DEV..</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/8"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/8"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/8"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/8"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> Ebook 1</h6>
                                            <h6><b>Author :</b> Qast</h6>
                                            <p></p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/7"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/7"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/7"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/7"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/ebook/3f76ab06321b538895b3ed909129a413ea84c628d390a7d0986c2ec912cc0c67fd15ff3ba388d2ef6476baaa106b968f45f5fde3db33c725a97d46d8ac4df09e.png"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> Emma</h6>
                                            <h6><b>Author :</b> Jane Austen</h6>
                                            <p>Jane Austen's Emma is her masterpiece, mixing the sparkle of her early
                                                books with a deep sensibility</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/6"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/6"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/6"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/6"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> Tom Jones</h6>
                                            <h6><b>Author :</b> Henry Fielding</h6>
                                            <p>Tom Jones comes a riotous fifth in our list of the 100 greatest novels in
                                                English</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/5"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/5"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/5"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/5"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> Clarissa</h6>
                                            <h6><b>Author :</b> Samuel Richardson</h6>
                                            <p>Clarissa is fourth in our list of the best novels written in English –
                                                and the first to address affairs of the heart</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/4"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/4"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/4"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/4"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> The 100 best novels, No 3</h6>
                                            <h6><b>Author :</b> Gulliver’s Travels by Jonathan Swift (1726)</h6>
                                            <p>onathan Swift’s Gulliver’s Travels comes third in our list of the best
                                                novels written in English. Robert McCrum discusses a satirical
                                                masterpiece that’s never been out of print</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/3"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/3"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/3"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/3"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> novels Books The 100 best novels: No 2</h6>
                                            <h6><b>Author :</b> Robinson Crusoe by Daniel Defoe (1719)</h6>
                                            <p>Daniel Defoe’s Robinson Crusoe comes second in our list of the best
                                                novels written in English. Robert McCrum explains the genius of this
                                                complex, irresistible novel</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/2"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/2"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/2"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/2"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="single-ebook">
                                <div class="single-ebook-img">
                                    <img src="https://library.greensoftbd.net/uploads/default/ebook.jpg"
                                        class="img-fluid" alt="">
                                    <div class="single-overlay">
                                        <div class="icon-info">
                                            <h6><b>Name :</b> The Pilgrim’s Progress</h6>
                                            <h6><b>Author :</b> John Bunyan</h6>
                                            <p>A story of a man in search of truth told with the simple clarity and
                                                beauty of Bunyan’s prose makes this the ultimate English classic.</p>
                                        </div>
                                        <div class="icon-item">
                                            <ul>
                                                <li><a href="https://library.greensoftbd.net/ebook/edit/1"><i
                                                            class="fa fa-edit"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/view/1"><i
                                                            class="fa fa-eye"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/delete/1"><i
                                                            class="fa fa-trash"></i></a></li>
                                                <li><a href="https://library.greensoftbd.net/ebook/download/1"><i
                                                            class="fa fa-download"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>