<main id="main" class="main">
    <section class="content-header">
        <h1>EBooks</h1>
        <ol class="breadcrumb">
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class="active">EBooks</li>
        </ol>
        <div class="box-header">
            <a routerLink="/ebook/create" class="btn btn-inline btn-mytheme btn-md"><i class="fa fa-plus"></i>Add
                Ebook</a>
        </div>
    </section>
    <section class="content">
        <div class="box box-mytheme">
            <div class="box-body">
                <div id="hide-table">
                    <table #dataTable class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ebook Name</th>
                                <th>Author Name</th>
                                <!-- <th>Cover Photo</th> -->
                                <th>Notes</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ebook of ebooks let i = index">
                                <td>{{ i+1 }}</td>
                                <td data-title="Name">{{ ebook.name }}</td>
                                <td data-title="Author">{{ ebook.author }}</td>
                                <!-- <td data-title="Cover Photo">
                                    <img [src]="ebook.cover_photo" alt="Cover Photo" onError="this.onerror=null;this.src='/path/to/default/image';">
                                </td> -->
                                <td data-title="Notes">{{ ebook.notes }}</td>
                                <td data-title="Action">
                                    <button class='btn btn-warning btn-xs' type="button" (click)="editClick(ebook)">
                                        <i class='fa fa-edit'></i>
                                    </button>
                                    <button class="btn btn-danger btn-xs" type="button" (click)="deleteClick(ebook)">
                                        <i class='fa fa-trash-o'></i>
                                    </button>
                                    <!-- <a [href]="ebook.file" download class="btn btn-primary btn-xs">
                                        <i class='fa fa-download'></i>
                                    </a> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div id="overlay" *ngIf="loading">
        <div class="loader"></div>
        <br />
        Please wait...
    </div>
</main>